@using StsServerIdentity.Resources
@inject LocService SharedLocalizer
@model StsServerIdentity.Models.AccountViewModels.LoggedOutViewModel

<div class="page-header">
    <h1>
        <small>@SharedLocalizer.GetLocalizedHtmlString("LOGOUT_TEXT")</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            @SharedLocalizer.GetLocalizedHtmlString("LOGOUT_RETURN_TO") <a href="@Model.PostLogoutRedirectUri">@Model.ClientName</a>
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe class="signout logoutiframe" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>
